/* GENERAL */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: "Nunito";
  /* position: relative; */

}

/* MAIN */

.main-container {
  background-color: white;
  box-shadow: 1px 1px 10px 1px;
  min-height: 80vh;
  max-height: 80vh;
  min-width: 50vw;
  max-width: 80vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}

/* first section: title and input */

.onesection-container {
  background-color: lightblue;
}

[type="text"] {
  font-size: 0.9em;
  color: grey;
  border-radius: 5px;
  border: solid 1px lightgrey;
  padding: 8px;
  background-color: lightgrey;
  width: 30vw;
}

[type="button"] {
  font-size: 0.9em;
  color: black;
  border-radius: 5px;
  border: solid 1px lightgrey;
  padding: 8px;
  background-color: grey;
  width: 15vw;
}



/* second section: to-do list */

.twosection-container {
  background-color: white;
  overflow: scroll;
  max-height: 60vh;
}

ul {
  width: 30vw;
  margin: auto;
  padding: 50px;
}

ul > li {
  list-style: none;
  background-color: white;
  border-radius: 20px;
  position: relative;
  padding: 10px;
  text-align: center;


}

ul > li > input {
  position: absolute;
  left: 0px;
}

ul li > i {
  font-size: 20px;
  color: red;
  position: absolute;
  right: 10px;

}



/* CHECKED ITEM */

.checked {
  color: lightgrey;

}
