/* GENERAL */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: "Nunito";
  background-image: url("../img/bg-todo.jpg");
  background-size: cover;


}

/* MAIN */

.main-container {
  background-color: white;
  box-shadow: 1px 2px 7px 1px #505250;
  min-height: 80vh;
  max-height: 80vh;
  min-width: 50vw;
  max-width: 80vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* text-align: center; */
  border-radius: 10px;

}

/* first section: title and input */

.date-number {
  display: flex;
  justify-content: space-between;
}

.today-date {

  color: #FA4166;
  text-align: left;
  font-weight: bolder;
  font-size: 2.2em;
  font-family: 'Lobster';


}

.year {
  color: #FBA343;
  font-size: 1.1em;
  text-align: left;
  font-family: 'Lobster';

}

.task-length {
  font-size: 0.9em;
  color: lightgrey;
  margin-top: 20px;

}

.onesection-container {
  border-radius: 10px;
  padding: 30px;
}

/* INPUT */

.input-container {
  display: flex;
  justify-content: center;
  padding: 0 20px 0 20px;
  margin-top: 30px;

}

[type="text"] {
  font-family: "Nunito";
  font-size: 1em;
  color: #FA4166;
  font-weight: bold;
  border-radius: 10px;
  border: solid 1px lightgrey;
  padding: 8px;
  background-color: white;
  width: 30vw;
  height: 50px;

}

::placeholder {
  color: lightgrey;
  font-weight: normal;
  text-align: center;
}

.add-container {
  background-color: #FBA343;
  height: 50px;
  width: 50px;
  margin: 0 0 0 10px;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  cursor: pointer;

}

.fa-plus {
  color: white;
  font-size: 0.8em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}

/* second section: to-do list */

.twosection-container {
  background-color: white;
  overflow: scroll;
  max-height: 55vh;
  border-top: solid 1px lightgrey;
}

ul {
  width: 30vw;
  margin: auto;
  padding: 50px;
}

ul > li {
  list-style: none;
  background-color: white;
  border-radius: 20px;
  position: relative;
  padding: 10px;
  text-align: center;

}

ul > li > input {
  position: absolute;
  left: 0px;
}

ul li > i {
  font-size: 0.9em;
  color: #FA4166;
  position: absolute;
  right: 10px;
  cursor: pointer;

}


/* CHECKED ITEM */

.checked {
  color: lightgrey;

}
