/* GENERAL */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: "Nunito";
  background-image: url("../img/bg-todo.jpg");
  background-size: cover;


}

/* MAIN */

.main-container {
  background-color: white;
  box-shadow: 1px 2px 7px 1px #505250;
  min-height: 80vh;
  max-height: 80vh;
  min-width: 50vw;
  max-width: 80vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* text-align: center; */
  border-radius: 10px;

}

/* first section: title and input */

.date-number {
  display: flex;
  justify-content: space-between;
}


.today-date {
  color: #FBA343;
  text-align: left;
  font-weight: bolder;
  font-size: 1.8em;

}

.year {
  color: lightgrey;
  font-size: 1.2em;
  text-align: left;
  /* font-weight: bolder; */
  /* font-style: italic; */

}

.task-length {
  font-size: 0.9em;
  color: lightgrey;
  margin-top: 20px;

}

.today-month {
  color: #FBA343;
  text-align: left;

}

.onesection-container {
  /* background-color: lightblue; */
  border-radius: 10px;
  padding: 30px;
}

/* INPUT */

.input-container {
  /* background-color: green; */
  /* text-align: right; */
  display: flex;
  justify-content: center;
  padding: 0 20px 0 20px;
  margin-top: 30px;



}

[type="text"] {
  font-family: "Nunito";
  font-size: 1em;
  color: #FBA343;

  border-radius: 5px;
  border: solid 1px lightgrey;
  padding: 8px;
  background-color: white;
  width: 30vw;
  height: 50px;
  /* align-self: center; */

}

::placeholder {
  color: lightgrey;
  font-size: 0.9em;
  font-weight: normal;
  text-align: center;
}

/* [type="button"] {
  font-size: 0.9em;
  color: black;
  border-radius: 5px;
  border: solid 1px lightgrey;
  padding: 8px;
  background-color: grey;
  width: 15vw;

} */

.add-container {
  background-color: #FA4166;
  height: 50px;
  width: 50px;
  margin: 0 0 0 10px;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  /* margin-top: 10px; */
  /* align-self: flex-start; */
  /* margin-left: 40px; */
  /* align-self: center; */

}

.fa-plus {
  color: white;
  font-size: 0.8em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}

/* second section: to-do list */

.twosection-container {
  background-color: white;
  overflow: scroll;
  max-height: 55vh;
  border-top: solid 1px lightgrey;
}

ul {
  width: 30vw;
  margin: auto;
  padding: 50px;
}

ul > li {
  list-style: none;
  background-color: white;
  border-radius: 20px;
  position: relative;
  padding: 10px;
  text-align: center;


}

ul > li > input {
  position: absolute;
  left: 0px;
}

ul li > i {
  font-size: 20px;
  color: red;
  position: absolute;
  right: 10px;
  cursor: pointer;

}



/* CHECKED ITEM */

.checked {
  color: lightgrey;

}
