<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>To-do List</title>
  </head>
  <body>

    <div id="root">
      <main class="main-container">

        <!-- first section: title and input -->
        <section class="onesection-container">

          <!-- TITLES -->
          <h1>Welcome back, {{yourName}}.   </h1>

          <p>{{listMessage}} {{todayDate}}</p>
          <!-- <p>{{totalTask}}</p> -->

          <!-- WRITE TASK -->
          <input type="text" placeholder="New task" v-model="inputTask" v-on:keyup.enter="createTask">

          <!-- ADD ITEM TO LIST -->
          <input type="button" value="Add to your list" @click="createTask">

        </section>
        <!-- end first section: title and input -->


        <!-- second section: to-do list -->
        <section class="twosection-container">

          <ul>

            <li :class="[{checked: index === indexControl}]" v-for="(items, index) in allTasks"> {{items}}

              <input type="checkbox" name="" value="" @click="checkItem(items, index)">

              <i class="far fa-trash-alt" @click="deleteTask(index)"></i>

            </li>

            <!-- <div class="email">
              <div class="subject">
              <input type="checkbox">
              &#9733; Oggetto della mail -
              </div>
              <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              </div>
            </div> -->

          </ul>

        </section>
        <!-- end second section: to-do list -->

      </main>
    </div>

    <script type="text/javascript" src="js/script.js"></script>

  </body>
</html>
