<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>To-do List</title>
  </head>
  <body>

    <div id="root">

      <!-- TITLES -->
      <h1>To-do List</h1>
      <p>Add a new task:</p>

      <!-- WRITE TASK -->
      <input type="text" value="" placeholder="New task" v-model="inputTask">

      <!-- ADD ITEM TO LIST -->
      <input type="button" value="Add to your list" @click="createTask">

      <!-- LIST -->
      <ul>
        <li v-for="(items, index) in allTasks"> {{allTasks[index]}} <i class="far fa-trash-alt" @click="trash(index)"></i>
        </li>
      </ul>

    </div>

    <script type="text/javascript" src="js/script.js"></script>

  </body>
</html>
